<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
  <p> To be more specific, I have: </p>
  <p> 2 Years Experience in Consulting, Business Strategy, Digital Transformation, Desk Research, Data Analysis </p>
  <p> Projects across Industries spanning Retail, Government, and Technology </p>
  <p> Extensive and Stellar Work using R, Python, PowerPoint, Excel </p>
  
  <h1>Work Experience</h1>
  <h3> Enterprise Strategy Consultant, IBM, July 2021 to Present</h3>
  <p> Worked on client-facing projects to provide analysis-driven recommendations and strategic roadmaps across industries spanning retail, government, and technology. Topics included digital business strategy, organization and process strategy, and operations improvement </p>
  
  
  <h1>Internship Experience</h1>
  
  <h3> Project Consultant Intern, SAP, Sep 2020 to Dec 2020</h3>
  
  <h3> Business Analyst, JD.com, Jun 2020 to Sep 2020</h3>
  
  <h3> Part Time Assistant, EY-Parthenon, Jul 2019 to Sep 2019</h3>
  
  <h3> Part Time Assistant, Roland Berger, May 2019 to Jun 2019</h3>
  
</div>
