<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
  <p> I have: </p>
  <p> 2 Years Experience in Consulting, Business Strategy, Digital Transformation, Desk Research, Data Analysis </p>
  <p> Projects across Industries spanning Retail, Government, and Technology </p>
  <p> Extensive and Stellar Work using R, Python, PowerPoint, Excel </p>
  
  <h1>Work Experience</h1>
  <h4> Enterprise Strategy Consultant, IBM, July 2021 to Present</h4>
  
  <h4> Project Consultant Intern, SAP, Sep 2020 to Dec 2020</h4>
  
  <h4> Business Analyst, JD.com, Jun 2020 to Sep 2020</h4>
  
  <h4> PTA, EY-Parthenon, Jul 2019 - Sep 2019</h4>
  
  <h4> PTA, Roland Berger, May 2019 - Jun 2019</h4>
  
  
</div>
