<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
  <p> I have: </p>
  <p> 2 Years Experience in Consulting, Business Strategy, Digital Transformation, Desk Research, Data Analysis </p>
  <p> Projects across Industries spanning Retail, Government, and Technology </p>
  <p> Extensive and Stellar Work using R, Python, PowerPoint, Excel </p>
  
  <h3> Enterprise Strategy Consultant, IBM, July 2021 to Present</h3>
  <p> Worked on client-facing projects to provide analysis-driven recommendations and strategic roadmaps across industries spanning retail, government, and technology. Topics included digital business strategy, organization and process strategy, and operations improvement
 </p>
  
</div>
